.jumbotron {
  text-align: center;
  background-color: #b3ecff;
  border-style: solid;
  border-width: 0px 0px 10px 0px;
  border-color: #33ccff;
  font-family: fantasy;
  font-size: 40px;

}

.card {
  width: 23%;
  height: 300px;
  border-style: solid;
  border-color: #33ccff;
  background-color: #b3ecff;
  border-width: 5px;
  border-radius: 30px;
  text-align: center;
  margin-left: 5px;
  margin-bottom: 5px;
}

.row {
  margin-left: 20px;
}

.row h2 {
  font-family: cursive;
}

.card-hidden {
  display:none;
  position: absolute;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}

.card-showing {
  position: absolute;
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
